<div class="students">
    <h1 style="font-weight:bold;color:#88cece;margin-top:8px;margin-bottom:8px;">Promociones</h1>
    <h5>Tecnologías gamers</h5>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <img width="300" height="280" src="../../../assets/img/laptop.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">LAPTOP ROG STRIX G713 R7-5800H 16GB 512SSD RTX3050Ti</h5>
                        <p class="card-text">ASUS - LAPTOP</p>
                        <a href="#" class="btn btn-danger">Más información</a>
                    </div>
                </div>

            </div>

            <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <img height="280" src="../../../assets/img/audifono.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">AUDÍFONO VIRTUOSO RGB WIRELESS SURROUND SOUND 7.1 PEARL</h5>
                        <p class="card-text">CORSAIR - AUDÍFONO</p>
                        <a href="#" class="btn btn-danger">Más información</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 19rem;">
                    <img width="20" height="304" src="../../../assets/img/panel de luces.jpg " class="card-img-top " alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title ">Nanoleaf Aurora Light Panels Smarter Kit</h5>
                        <p class="card-text ">NANOLEAF - 9 PANELES</p>
                        <a href="# " class="btn btn-danger ">Más información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>